@media not print {
  @media (prefers-color-scheme: dark) {
    body:not([data-theme="light"]) {
      --color-brand-primary: hsl(210, 85%, 75%);
      --color-brand-content: hsl(267, 85%, 75%);
      --color-problematic: hsl(290, 85%, 75%);
    }
  }
  body[data-theme="dark"] {
    --color-brand-primary: hsl(210, 85%, 75%);
    --color-brand-content: hsl(270, 88%, 63%);
    --color-problematic: hsl(270, 100%, 71%);
  }
}
